@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.top-bar {
  background-color: #68CD94;
}

.top-bar ul {
  background-color: #68CD94;
}

.mainPageLinks {
  padding: 50px;
}

.form-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 6px;
  background-color: #68CD94;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.time-field {
  width: 31%;
  display: inline-flex;
}
